ul {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid green;
  padding: 10px;
}

.cart-item-details {
  display: flex;
  align-items: center;
  width: 75%;
}

.cart-item-quantity,
.cart-item-name,
.cart-item-total-price {
  flex: 1;
  text-align: left;
}

.cart-item-remove-button {
  color: white;
  background-color: #6ba368;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 3px;
}

.cart-item-remove-button:hover {
  text-decoration: underline;
}

.quantity-button {
  background-color: #6ba368;
  color: #ffffff;
  margin-left: 3px;
  margin-right: 3px;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.quantity-button:hover {
  background-color: #bfe8bd;
}

.cart-item-placeOrder-button {
  color: white;
  background-color: #6ba368;
}
