.title {
  font-family: "Caprasimo", cursive;
  color: #e1fab6;
}

.links {
  display: flex;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
}

.image {
  height: 700px;
}

.header {
  background-color: #6ba368;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
